%div#groups
  = link_to add_group_path do
    %div.button
      %button#add_group +
  - @groups.each do |g|
    = link_to edit_group_path(:name => g.name, :filters => g.filters, :extra_emails => g.extra_emails), :method => :post do
      %div.cell= g.name

